page-login {
     .separador {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #e6e6e6;
        top: 50%;
        left: 0;
        position:  relative;
     }

      .Registrarse:hover{
        cursor: pointer;
        text-decoration: underline;
     }

     
}
