<!-- Generated template for the GenerarHabitacionesComponent component -->
<div>
  <ion-label style="color: white; text-align: center;">Para el conocimiento de los usuarios y mejorar la calidad de la administracion de su establecimiento, por favor ingrese los valores solicitados</ion-label>
  <ion-item style="background: transparent; text-align: center; margin: auto; width: 300px">
    <ion-label color="primary" aria-required="true"> Cantidad de habitaciones:</ion-label>
    <ion-input placeholder="1" [(ngModel)]="HabitacionTipo.HTIcantidad" type="number" min="1" max="50" (ionBlur)="validarCantidad()" style="color: white;"></ion-input>
  </ion-item>
</div>