page-administracion {
    .panelIzquierdo{
        max-width: 250px; 
        background-color: #800000; 
        position: relative; 
        height: 100%; 
        font-size: 20px; 
        //color:white;
        border-radius: 10px;
    }

    .panelDerecho {
        //max-width: 80%; 
        background-color: #800000; 
        left: 10px;
        border-radius: 10px;
    }

    .item{
        color: #fff;
        background-color: #a24444;
        text-align: center;
        width: 100%;
        font-size: 2rem;
        min-height: 5rem;
    }
}
