page-administracion {
    .panelIzquierdo{
        max-width: 250px; 
        background-color: #252525; 
        position: relative; 
        height: 100%; 
        font-size: 20px; 
        //color:white;
        border-radius: 5px;
    }

    .panelDerecho {
        //max-width: 80%; 
        //background-color: #800000; 
        left: 5px;
        border-radius: 5px;
        background-color: #252525; 
    }

    .TipoHabitacion{
        color: #fff;
        background-color: #800000;
        text-align: center;
        width: 100%;
        font-size: 2rem;
        min-height: 5rem;
        box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    }

    .general {
        float: left; 
        width: 200px; 
        box-sizing: border-box; 
        text-align:center; 
        padding:10px;
    }
}
