<!-- Generated template for the TarifasComponent component -->
<ion-card class="content">
  <ion-card-header>
    <ion-card-title color="principal" style="text-align: center;">
      Registrar tarifas para la habitacion
    </ion-card-title>
  </ion-card-header>
  <button ion-fab mini style="float: right;" (click)="AgregarTarifa()">
    <ion-icon name="add" color="primary"></ion-icon>
  </button>
  <ion-grid class="col">
    <ion-row align-items-center>
      <ion-col align-self-center>
        <ion-label>Tarifas</ion-label>
      </ion-col>
      <ion-col align-self-center>
        <ion-label> Cantidad de horas</ion-label>
      </ion-col>
      <ion-col align-self-center>
        <ion-label> Valor total</ion-label>
      </ion-col>
      <ion-col style="max-width: 5%;">
      </ion-col>
    </ion-row>
    <ion-row align-items-center *ngFor="let tarifa of Arraytarifa; index as i">
      <ion-col align-self-center>
        <ion-label>{{i+1}}</ion-label>
      </ion-col>
      <ion-col align-self-center>
        <label>{{tarifa.TARcantHoras}} hrs</label>
        <ion-range min="1" max="24" [(ngModel)]="tarifa.TARcantHoras">
          <ion-label range-left> 1</ion-label>
          <ion-label range-right>24</ion-label>
        </ion-range>
      </ion-col>
      <ion-col align-self-center>
        <input id="txtValor_{{tarifa.TARid}}" [(ngModel)]="tarifa.TARvalor" type="number" style="display: none; border: none; width: 100px; margin: auto;"
          (blur)="actualizarValor(tarifa.TARid)" />
        <ion-label id="lblValor_{{tarifa.TARid}}" (click)="cambiarValor(tarifa.TARid)" style="cursor: pointer" color="danger">
          {{tarifa.TARvalor | currency:'USD':true:'.0'}}</ion-label>
      </ion-col>
      <ion-col style="max-width: 5%;">
        <button ion-fab mini style="float: right;" (click)="EliminarTarifa(tarifa)">
          <ion-icon name="close" color="danger"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>