<!-- Generated template for the HabitacionesComponent component -->
<div class="general" *ngFor="let hero of heroes">
      <!-- <div class="habitacion">
          {{hero}}
      </div> -->
      <ion-card>
            <ion-card-header>
                  {{hero}}
            </ion-card-header>
            <ion-card-content>
                  <ion-item style="text-align: center; background-color: #d0cccc; border-radius: 25px">
                        Ocupado
                        <ion-icon name="radio-button-on" color="danger"></ion-icon>
                  </ion-item>
                  <ion-label>Tiempo</ion-label>
            </ion-card-content>
      </ion-card>
</div>