<!-- Generated template for the ImagenesComponent component -->
<div>
  <ion-row>
    <ion-col>
      <ion-card padding style="height: 100%">
        <div *ngIf="FotoSeleccionada">
            <button ion-fab mini title="Eliminar foto" style="right: 30px; font-size: 50px; position: absolute" (click)="EliminarFoto()">
                <ion-icon name="close" color="primary"></ion-icon>
              </button>
          <img style="max-height: 500px;  max-width: 100%" src="{{FotoSeleccionada.FOTurl}}" />
        </div>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card style="height: 100%">
        <ion-card-header>
          <button ion-fab mini title="Agregar foto" style="float: right" (click)="AgregarFoto()">
            <input type="file" accept="image/jpeg" #fileInput style="display:none;" class="form-control" (change)="ProcessImage($event)"
            />
            <ion-icon name="add" color="primary"></ion-icon>
          </button>
          <ion-label style="text-align: center"> {{ArrayFotos.length}} de 6</ion-label>
        </ion-card-header>
        <div class="general" *ngFor="let foto of ArrayFotos">
          <ion-card style="height: 100%; width: 100%" padding (click)="SeleccionarFoto(foto);" [ngStyle]="{'border': (foto.FOTactiva) ? '3px solid blue' : '' }">
              <img style="max-height: 100% ;  max-width: 100%" src="{{foto.FOTurl}}" />
          </ion-card>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>

</div>