<!-- Generated template for the ImagenesComponent component -->
<div>
  <ion-row>
    <ion-col>
      <ion-card padding style="height: 450px;">
        <img style="height: 100%; width: 100%" src="https://firebasestorage.googleapis.com/v0/b/mote-e0df6.appspot.com/o/establecimientos%2FVS2R6uXf0cS16GwPwyqF%2Fsitio%2FEST_1.jpg?alt=media&token=ec85d42c-5c41-41d5-80a1-2bd7f7c876c6"
        />
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card style="height: 100%">
        <div class="general">
          <ion-card padding>
            <img src="https://firebasestorage.googleapis.com/v0/b/mote-e0df6.appspot.com/o/establecimientos%2FVS2R6uXf0cS16GwPwyqF%2Fsitio%2FEST_1.jpg?alt=media&token=ec85d42c-5c41-41d5-80a1-2bd7f7c876c6"
            />
          </ion-card>
        </div>
        <div class="general">
          <ion-card padding>
            <img src="https://firebasestorage.googleapis.com/v0/b/mote-e0df6.appspot.com/o/establecimientos%2FVS2R6uXf0cS16GwPwyqF%2Fsitio%2FEST_1.jpg?alt=media&token=ec85d42c-5c41-41d5-80a1-2bd7f7c876c6"
            />
          </ion-card>
        </div>
        <div class="general">
          <ion-card padding>
            <img src="https://firebasestorage.googleapis.com/v0/b/mote-e0df6.appspot.com/o/establecimientos%2FVS2R6uXf0cS16GwPwyqF%2Fsitio%2FEST_1.jpg?alt=media&token=ec85d42c-5c41-41d5-80a1-2bd7f7c876c6"
            />
          </ion-card>
        </div>
        <div class="general">
          <ion-card padding>
            <img src="https://firebasestorage.googleapis.com/v0/b/mote-e0df6.appspot.com/o/establecimientos%2FVS2R6uXf0cS16GwPwyqF%2Fsitio%2FEST_1.jpg?alt=media&token=ec85d42c-5c41-41d5-80a1-2bd7f7c876c6"
            />
          </ion-card>
        </div>
        <div class="general">
          <ion-card padding>
            <img src="https://firebasestorage.googleapis.com/v0/b/mote-e0df6.appspot.com/o/establecimientos%2FVS2R6uXf0cS16GwPwyqF%2Fsitio%2FEST_1.jpg?alt=media&token=ec85d42c-5c41-41d5-80a1-2bd7f7c876c6"
            />
          </ion-card>
        </div>
        <div class="general">
          <ion-card padding>
            <img src="https://firebasestorage.googleapis.com/v0/b/mote-e0df6.appspot.com/o/establecimientos%2FVS2R6uXf0cS16GwPwyqF%2Fsitio%2FEST_1.jpg?alt=media&token=ec85d42c-5c41-41d5-80a1-2bd7f7c876c6"
            />
          </ion-card>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</div>