<!-- Generated template for the ImagenesComponent component -->
<div>
  <h1 style="text-align: center">Fotos del establecimiento</h1>
  <ion-card padding style="height: 30% ; width: 40%; margin: auto;">
    <button ion-fab title="Eliminar foto" style="top: -10px ; float: right; height: 30px; width: 30px;" (click)="EliminarFoto()">
      <ion-icon name="close" color="danger"></ion-icon>
    </button>
    <div *ngIf="FotoSeleccionada">
      <img class="imagen" src="{{FotoSeleccionada.FOTurl}}" onerror="this.src='assets/icon/picture.svg';"/>
    </div>
  </ion-card>
  <br>
  <ion-card padding>
    <button ion-fab title="Agregar foto" style="top: -10px ; float: right; height: 30px; width: 30px;" (click)="AgregarFoto()">
      <input type="file" accept="image/jpeg" #fileInput style="display:none; " class="form-control" (change)="ProcessImage($event)"
      />
      <ion-icon name="add" color="primary"></ion-icon>
    </button>
    <ion-label style="text-align: center"> {{ArrayFotos.length}} de 6</ion-label>
    <div class="general" *ngFor="let foto of ArrayFotos">
      <ion-card style="height: 70%; width: 70%; margin: auto" padding (click)="SeleccionarFoto(foto);" [ngStyle]="{'border': (foto.FOTactiva) ? '3px solid blue' : '' }">
        <img src="{{foto.FOTurl}}" width="70" height="70" onerror="this.src='assets/icon/picture.svg';" />
      </ion-card>
    </div>
  </ion-card>


</div>