page-configuracion {
    
    
    
    ion-item:hover {
        transition:all .1s ease-in-out;
        background-color: grey;
        border-radius: 8px;
    }

    .general {
        width: 50%; 
        box-sizing: border-box; 
        padding:10px;
        margin: auto;
    }
}
