Item-tipoHabitacion {
    .contenedorImg{
        height: 150px; 
        max-width: 25%;
        display: grid;
        padding: 10px;
        margin: auto;
        
        
    }

    .imagen{
        height: 100%;
        border-radius: 10px;
    }

    
    // .contenedorDescripcion{
    //     height: 120px; 
    //     max-width: 100%;
    //     padding: 10px;
    //     display: block;
    // }

    .lblName{
        color: dodgerblue;
        font-weight: bold;
        font-size: 16px;
        margin: auto;
        padding: 10px;
    } 

    .lblDescripcion {
        color: darkgray;
        // font-weight: bold;
        // font-size: 16px;
        margin: auto;
        padding: 15px;
        white-space: inherit;
    } 

    .lblValor{
        font-size: 25px;
        color: red;
        font-weight: bold;
    }

    .contenedorValor{
        // height: 180px; 
        max-width: 30%;
        text-align: center;        
        // border-left: none;
        margin: auto;
        // display: grid;
        // align-items: center;
        padding: 10px;
    }
}
